@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
$primary: #664DE5;

.root {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}